# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
.vs/

# Rider
.idea/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Logs
*.log
Logs/

# DotNet publish folder
publish/

appsettings.Development.json
